@media screen and (max-width: 600px) {
    .mobile{
        display:block;
        margin-top:-10px
    }
    #header.on{
        background-color:#003586;
        width:100%;
        height: 60px;
        position: fixed;
        top:0px;
        left: 0;
        color:#fff;
    }
    #header h1.on{
        font-size:24px;
    }

    .tabTit {
        display: flex;
        justify-content: space-between;
    }
    .tabTit li{
        margin-right: 0px;
        padding:10px 10px;
    }
    .breadList li{
        float:left;
        width:31%;
    }
    .breadList li:nth-child(3n+1){
        clear: both;
    }
    .breadList li:nth-child(4n+1){
        clear: none;
    }
}